In [1]:
import pandas as pd

In [2]:
import json
from pandas.io.json import json_normalize

In [3]:
# set display options to 22 columns
pd.set_option('display.max_columns', 22)

In [4]:
pd.set_option('max_colwidth', 800)

In [5]:
# read in json file
yelp_df = pd.read_json('/Users/klee/Downloads/yelp_academic_dataset_business_revised.json')

In [6]:
# view first row for reference of columns and value formats
yelp_df.head(1)

,address,attributes,business_id,categories,city,hours,is_open,latitude,longitude,name,neighborhood,postal_code,review_count,stars,state
0,1314 44 Avenue NE,"{'BikeParking': 'False', 'BusinessAcceptsCreditCards': 'True', 'BusinessParking': '{'garage': False, 'street': True, 'validated': False, 'lot': False, 'valet': False}', 'GoodForKids': 'True', 'HasTV': 'True', 'NoiseLevel': 'average', 'OutdoorSeating': 'False', 'RestaurantsAttire': 'casual', 'RestaurantsDelivery': 'False', 'RestaurantsGoodForGroups': 'True', 'RestaurantsPriceRange2': '2', 'RestaurantsReservations': 'True', 'RestaurantsTakeOut': 'True'}",Apn5Q_b6Nz61Tq4XzPdf9A,"Tours, Breweries, Pizza, Restaurants, Food, Hotels & Travel",Calgary,"{'Monday': '8:30-17:0', 'Tuesday': '11:0-21:0', 'Wednesday': '11:0-21:0', 'Thursday': '11:0-21:0', 'Friday': '11:0-21:0', 'Saturday': '11:0-21:0'}",1,51.091813,-114.031675,Minhas Micro Brewery,,T2E 6L6,24,4.0,AB

In [7]:
# set index of dataset to business id
yelp_df_busid = yelp_df.set_index('business_id')

In [8]:
# create new data frame with business ids as index and hours as columns
# create empty dictionary
hours = {}
# iterate over the rows
for index, row in yelp_df_busid.iterrows():
    # add keys, values to the dictionary using business id and attributes row
    hours[index] = row['hours']

In [9]:
# create data frame of business id and hours, transpose
hours_df = pd.DataFrame(hours).transpose()

In [10]:
# reorder columns for day order
daily_hours = hours_df[['Sunday', 'Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday']]

In [11]:
daily_hours.head()

,Sunday,Monday,Tuesday,Wednesday,Thursday,Friday,Saturday
Apn5Q_b6Nz61Tq4XzPdf9A,NaN,8:30-17:0,11:0-21:0,11:0-21:0,11:0-21:0,11:0-21:0,11:0-21:0
AjEbIBw6ZFfln7ePHha9PA,17:0-23:0,NaN,NaN,NaN,NaN,17:0-23:0,17:0-23:0
O8S5hYJ1SMc8fA4QBtVujA,10:0-22:0,10:0-22:0,10:0-22:0,10:0-22:0,10:0-22:0,10:0-22:0,10:0-22:0
bFzdJJ3wp3PZssNEsyU23g,None,None,None,None,None,None,None
8USyCYqpScwiNEb58Bt6CA,NaN,8:0-17:0,8:0-17:0,8:0-17:0,8:0-17:0,8:0-17:0,NaN

In [22]:
daily_hours_mod = daily_hours['Sunday'].split('-')

AttributeError: 'Series' object has no attribute 'split'